main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  width: 600px;
  margin-left: 150px;
}
.posicionamento {
  margin-top: 110px;
  padding-left: 5px;
}
.lenda {
  display: flex;
  background-color: lightcoral;
  align-items: center;
}

.lenda > h2 {
  position: absolute;
  font-size: 2rem;
  color: #e50914;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin-left: 45px;
  padding-bottom: 550px;
}

.principal {
  display: flex;
  flex-direction: column;
  padding-left: 75px;
  padding-top: 80px;
}

.principal > h1 {
  font-size: 100px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  -webkit-text-fill-color: #00000000;
  font-weight: bold;
}

main p {
  /*font-family: "Lucida Sans Regular", sans-serif;*/
  font-size: 1.4rem;
  font-weight: 100;
  padding-left: 25px;
}

.sobre-personagens {
  margin-top: 50px;
  /*border-right: 52px solid #e50914;*/
}

.personagem {
  justify-content: space-between;
  font-style: italic;
  display: flex;
}
.relacao {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.relacao h5 {
  margin-left: 50px;
}
